

.mireseerdhet {
    transition: 3s;
	text-align: center;
	color: #15dde8;
	margin-bottom: 1vw;
	font-size: 50px;
	text-shadow: 0px 0px 5px #009199, 0px 0px 6px #bde4ff;
}

.mireseerdhet:hover {
	transition-duration: 0.4s;
	color: #fcb103;
	font-size: 70px;
	text-shadow: 0px 0px 15px #ffffff, 0px 0px 20px #00494d;
}

.wknf {
	text-align: center;
	color: #ffeacc;
	padding: 1pt;
	font-family: cinzelBl;
	font-size: 4vw;
	text-shadow: 1px 1px 8px #000000;
	/* 	#ff8000 */
}

.knf {
	text-align: center;
	color: #15dde8;
	margin-bottom: 1vw;
	font-size: 60px;
	text-shadow: 0px 0px 5px #009199, 0px 0px 6px #bde4ff;
	/* 	#ff8000 */
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	
}

.knf:hover {
	transition-duration: 0.4s;
	color: #6bf7ff;
	font-size: 50px;
	text-shadow: 0px 0px 15px #cffffe, 0px 0px 15px #009199;
}




.textColor{
	color: #6bf7ff;
}

.textColorGold{
	color: #ffeacc;
	text-shadow: 1px 1px 8px #000000;
}

.hiqOutline{
	outline:none !important;
}


html{
	min-height: 100%;
	min-width: 100%;
}

body {

	 
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
	url('../resources/images/background/44.jpg');
 	overflow-x: hidden;
 	height:100%;
	width: 100%;
	background-color:#002046 !important;
 	background-repeat: no-repeat;
 	background-size:cover;
 	background-attachment: fixed;
	 
	 
	 
}

html, body{
	height: 100%;
	width:100%
}

.fallingStar{
    animation: animacion ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;      
}

 @keyframes animacion { 
     0% { 
         opacity: 0; 
        
        } 
     100% {
         opacity: 1; 
         
        } 
}

.paneliKryesor{

/* 	background-position:center;
	background-size: cover;
	position: absolute;
	background-attachment: fixed; */

	min-width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}


#panel {
	margin: auto;
}

.butonatFormat {
	background: url('/resources/images/b4.png') no-repeat top left;
	border: none;
	padding: 15px 32px;
	text-align: center;
	font-family: cinzelR;
}

/* .butonatFormat:hover{
	transition-duration: 0.4s;

	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 */
.butonMenu {
	font-size: 1vw;
	padding: 15px 32px;
	text-align: center;
	/* font-family: cinzelBo; */
	font-family: oswaldL;
	margin: 0;
	color: #ffeacc;
	background-color: #002f77; /* #ffba57 */
	text-shadow: 2px 2px 12px #965a00;
	border: none;
	/* border: 1px solid #0093fd; */ /* #ffeacc */
	cursor: pointer;
	outline: none;
	
}

.butonMenu:hover {
 	transition-duration: 0.4s;
	background-color: #0093fd; /* #ff9c0d */
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15), 0 3px 30px 0
		rgba(0, 0, 0, 0.12); 
	text-shadow: 2px 2px 12px white;
}

.butonMenu:active {
	color: #002f77;
	
	background-size: 100%;
	transition: background 0s;
	text-shadow: 2px 2px 12px white;
	transform: translateY(2px);
}


.butonDropdownMenu {
	font-size: 1vw;
	padding: 15px 32px;
	text-align: center;
	/* font-family: cinzelBo; */
	font-family: oswaldL;
	margin: 0;
	color: #ffeacc;
	background-color: #002f77; /* #ffba57 */
	text-shadow: 2px 2px 12px #965a00;
	border: none;
	/* border: 1px solid #0093fd; */ /* #ffeacc */
	cursor: pointer;
	outline: none;
	
}

.butonDropdownMenu:hover {
 	transition-duration: 0.4s;
	background-color: #0093fd; /* #ff9c0d */
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15), 0 3px 30px 0
		rgba(0, 0, 0, 0.12); 
	text-shadow: 2px 2px 12px white;
	outline: none;
}




.btn.btn-primary {
	background-color: #002f77;
	border: none;
}

.btn.btn-primary:hover {
	background-color: #0093fd;
	text-shadow: 0px 0px 8px white;
}

.linkHov{
	color: grey;
	text-decoration: none;
}

.linkHov:hover {
	color:#15dde8;
	text-decoration: none;
	text-shadow: 0px 0px 8px white;
}

.link2hov{
	color: #d4d4d4 !important;
	text-decoration: none;
}

.link2Hov:hover{
	color:#15dde8;
	text-decoration: none;
	text-shadow: 0px 0px 8px white;
}


.loginWhite{
	border-radius: 25px;
	box-shadow: 0px 0px 30px #0090ff;
}

.loginWhite2{
	border-radius: 0px;
	box-shadow: 0px 0px 30px rgba(0, 144, 255, 0.2);
	
	
}


.fushaBoshRed{
	box-shadow: 0px 0px 30px red;
}


.inputFushat{
	background-color:white;
	color:#002f77; 
	border-radius:4px;
    width:100%;
  	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  	font-family: oswaldR;
}


.inputFushaFilterKerko{
	background-color:white;
	color:#002f77; 
	border-radius:4px;
  	box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  	font-family: oswaldR;
}

body .ui-messages-error{
	background-color:rgba(0, 0, 0, 0);
	border-radius:10px;
	color:red;
	border: none;
	box-shadow: 0px -50px 100px #ff0d00;
	font-family: oswaldEL;
	width:auto;
}

.madhesiaHeader{
	font-size:25px !important;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.headerLoginName{
	transition: 3s;
	color: #15dde8;
	text-shadow: 0px 0px 5px #009199, 0px 0px 6px #bde4ff;
	font-family: cinzelR;
}

.headerLoginName:hover{
	transition-duration: 0.4s;
	color: #fcb103;
	text-shadow: 0px 0px 15px #ffffff, 0px 0px 20px #00494d;
}


/* dropdown-lista primefaces*/ 
.ui-selectonemenu-items, .ui-selectonemenu-list{
	border: none !important;
	background: #002046 !important;
	color: #15dde8 !important;
	
}

.ui-selectonemenu-item, .ui-selectonemenu-list-item{
	background: #002046 !important;
	font-family: oswaldEL;
}
.ui-state-highlight{
	color: #15dde8 !important;
	background: #002f77 !important;
	font-family: oswaldEL;
}

.ui-selectonemenu-trigger{
	background: #002046 !important;
	font-family: oswaldEL;
}

 .ui-widget-content {
	border: none !important;
}



/* Lista autor_res shqyrtues_res */

div.repeatListaAutorShqyrtues{
	background-color: rgba(0, 32, 70, 0.8) !important;

	color: white;
	border-radius:0px;
	font-family: cinzelR !important;
  	
}



.vleresimetPerArtikullinTimRepeatBottom{
	margin: 20px 0px;
}

.vleresimetPerArtikullinTimRepeatTop{
	margin: 20px 0px;
}



/* formatimi i tekstit autorPanel */

.titujText{
	color: #15dde8;
	font-family: oswaldEL;
	font-size: 20px;
}

.contentText{
	color: white;
	font-family: oswaldEL;
	font-size: 25px;
}


.titujText2{
	color: #15dde8;
	font-family: oswaldEL;
	font-size: 20px;
}

.contentText2{
	color: white;
	font-family: oswaldEL;
	font-size: 18px;
}

.contentText3{
	color: white;
	font-family: oswaldL;
	font-size: 22px;
}

/* formatimi i fushave h:inputtext */

.hinputtextCustom{
	color: black;
	font-family: oswaldEL;
	font-size: 22px;
	outline: none;
	width: 80%;
}





/* formatimi i background layer autorPanel */

.backgroundLayer{
	background-color: rgba(0, 32, 70, 0.8) !important;
}

.centerDivAutorPanel{
	display: flex;
	justify-content: center;
	align-items: center;
}



/* formatimi i tekstit shqyrtuesPanel */

.titujTextShq{
	color: #15dde8;
	font-family: oswaldEL;
	font-size: 20px;
}

.contentTextShq{
	color: white;
	font-family: oswaldEL;
	font-size: 25px;
}


.titujTextShq2{
	color: #15dde8;
	font-family: oswaldEL;
	font-size: 20px;
}

.contentTextShq2{
	color: white;
	font-family: oswaldEL;
	font-size: 18px;
}

.titujTextShq3{
	color: #15dde8;
	font-family: oswaldEL;
	font-size: 16px;
}


.contentTextShq3{
	color: white;
	font-family: oswaldL;
	font-size: 18px;
}


.vleresimeTextStars{
	font-family: cinzelR;
	color: #15dde8;
	font-size: 16px;
}



